@import "variables";
@import "bootstrap";
@import "hover";
@import "font-awesome";
@import "greyscale";


#leaderboard {
	margin: 0px;
	padding: 0px;
}

ul.boxer-leaderboard {
	width: 100%;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	li {
		border-bottom: 1px solid white;
		width: 100%;
		padding: 10px 5px;
		text-align: left;
		font-family: $grayscale-headline-font-family;
		font-size: 1.25em;	
	}
}